<%= render 'shared/links' %>
<%= will_paginate @websites, renderer: BootstrapPagination::Rails%>
<% @websites.each do |website| %>
	<h1> <%= link_to website.name, website.url %> </h1>
		<p>
			<%= website.description %>
		</p>
		<p> 
		 <% website.title_tags.each do |title_tag| %>
		 <%= title_tag.title %>
		 <% end %>
	 </p>
<% end %>
